/* Giving my entire webpage some structure and the ability to flex into columns*/
body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
}

/* Giving the different elements a little style to stand out from each other*/
#header {
  height: auto;
  width: auto;
  padding: 30px;
  color: cornsilk;
  background-image: url(/images/weather-header.png);
  background-position: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 50px;
  padding-left: 250px;
}

.left-column {
  color: cornsilk;
  background-color: rgb(103, 103, 253);
  padding-top: 2px;
  width: 25%;
}

#search-header-text {
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#input-container {
  width: min-content;
  margin: auto;
  padding-bottom: 15px;
}

#search-history {
  display: flex;
  flex-direction: column;
}

#search-history button {
  border-radius: 8px;
  margin-bottom: 5px;
}

#search-history button:hover {
  background-color: rgb(54, 80, 54);
  color: white;
}

#weather-section {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#current-weather {
  background-color: bisque;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 20px;
}

#weather-data {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    height: min-content;
    width: fit-content;
}

#forecast {
  background-color: darkgray;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 20px;
}

#forecast-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: darkgray;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  height: min-content;
}

.card:hover {
  box-shadow: 0px 0px 100px 0px rgb(228, 255, 105);
  transition: color 2s;
  box-shadow: 2s;
  cursor: crosshair;
}

footer {
  display: flex;
  justify-content: center;
  /* background: linear-gradient(linear-gradient(50deg, rgb(103, 148, 247) 50%, rgb(242, 252, 105) 90%)); */
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: crosshair;
  color: coral;
}

a:visited {
  text-decoration: none;
}
