/* Giving my entire webpage some structure and the ability to flex into columns*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-position: fixed;
}

/* Giving the different elements a little style to stand out from each other*/
#header {
    height: auto;
    width: auto;
    padding: 30px;
    color:cornsilk;
    background-color: darkblue;
}

.left-column {
    color:cornsilk;
    background-color:maroon;
    padding-top: 2px;
}

h2 {
    padding-left: 30px;
}

#input-container {
    position: relative;
    padding-left: 30px;
    padding-bottom: 10px;
}