/* Giving my entire webpage some structure and the ability to flex into columns*/
body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
}

/* Giving header a background image and some basic styling.*/
#header {
  height: auto;
  width: auto;
  padding: 30px;
  color: yellow;
  background-image: url(../images/weather-header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  padding-left: 250px;
}

/* Styling the left side of the main to represent a search area. Style included for input, button, search results, etc. */
.left-column {
  color: cornsilk;
  background-color: rgb(103, 103, 253);
  padding-top: 2px;
  width: 25%;
}

#search-header-text {
  font-size: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#input-container {
  width: min-content;
  margin: auto;
  padding-bottom: 15px;
}

#search-history {
  display: flex;
  flex-direction: column;
}

#search-history button {
  border-radius: 8px;
  margin-bottom: 5px;
}

#search-history button:hover {
  background-color: rgb(54, 80, 54);
  color: white;
}

/* Lines 66-121 represent the bulk of styling done to display the weather in a visually appealing way.
Styled the current weather as well as five day forecast to have borders and hover pseudo classes. */
#weather-section {
  width: 75%;
  display: flex;
  flex-direction: column;
}

#current-weather {
  background-color: bisque;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 20px;
}

#weather-data {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin: 5px;
    padding: 5px;
    height: min-content;
    width: fit-content;
}

#weather-data:hover {
  box-shadow: 0px 0px 100px 0px rgb(228, 255, 105);
  transition: color 2s;
  box-shadow: 2s;
  cursor: crosshair;
}

#forecast {
  background-color: darkgray;
  flex-grow: 1;
  padding-top: 20px;
  padding-left: 20px;
}

#forecast-cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: darkgray;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 5px;
  padding: 5px;
  height: min-content;
}

.card:hover {
  box-shadow: 0px 0px 100px 0px rgb(228, 255, 105);
  transition: color 2s;
  box-shadow: 2s;
  cursor: crosshair;
}

/* Tiny bit of style for the footer. */
footer {
  display: flex;
  justify-content: center;
  padding: 8px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: crosshair;
  color: coral;
}

a:visited {
  text-decoration: none;
}
